<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seeker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_launcher"
        android:logo="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FreelancerMainPages.FreelancerPayment"></activity>
        <activity android:name=".Admin.UsersActivity" />
        <activity android:name=".Admin.BidsActivity" />
        <activity android:name=".Admin.ProjectsActivity" />
        <activity android:name=".Admin.AdminActivity" />
        <activity android:name=".EmployerMainPages.AccountRelatedActivities.ViewAttachmentActivity" />
        <activity android:name=".Rating.test" />
        <activity android:name=".Admin.ViewProjectActivity" />

        <activity android:name=".ViewProfileActivity"></activity>
        <activity android:name=".EmployerMainPages.AccountRelatedActivities.SettingActivity" />
        <activity android:name=".EmployerMainPages.AccountRelatedActivities.Payment.PaymentMethodActivity" />
        <activity android:name=".EmployerMainPages.AccountRelatedActivities.Payment.PaymentActivity" />
        <activity android:name=".EmployerMainPages.Chat_Emp.Emp_ChatMessages" />
        <activity android:name=".EmployerMainPages.AcceptBidConfirmation" />
        <activity android:name=".Rating.EmployerRatesFreelancer" />
        <activity android:name=".FreelancerMainPages.FreelancerEditProfile" />
        <activity
            android:name=".FreelancerMainPages.SearchTab_Freelancer.AddSkillActivity"
            android:theme="@style/AppTheme.AppBarOverlay" />
        <activity android:name=".Rating.FreelancerRatesEmployer" />
        <activity android:name=".PostBid.ViewFullBid" />
        <activity android:name=".PostBid.PostBidActivity" />
        <activity android:name=".PostBid.ViewBid" />
        <activity android:name=".EmployerMainPages.AccountRelatedActivities.EditProfileActivity" />
        <activity
            android:name=".EmployerMainPages.AccountRelatedActivities.NotificationsActivity"
            android:theme="@style/AppTheme.AppBarOverlay" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SignupActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity
            android:name=".EmployerMainPages.EmployerMainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FreelancerMainPages.FreelancerMainActivity"
            android:windowSoftInputMode="adjustPan" /> <!-- <activity android:name=".PostProject.PostProjectActivity" /> -->
        <activity android:name=".EmployerMainPages.AccountRelatedActivities.ContactSupportActivity" />

        <service android:name=".SeekerNotiService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".ChatMessageBroadcast">
            <intent-filter>
                <action android:name="NewChatMessage" />
            </intent-filter>
        </receiver>
    </application>

</manifest>